delivery_aramex/api/test/aramex-rates-calculator-wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:i0="http://ws.aramex.net/ShippingAPI/v1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://ws.aramex.net/ShippingAPI/v1/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.aramex.net/ShippingAPI/v1/" name="Service_1_0">
  <wsdl:binding type="tns:Service_1_0" name="BasicHttpBinding_Service_1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalculateRate">
      <soap:operation style="document" soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CalculateRate"/>
      <wsdl:input name="RateCalculatorRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RateCalculatorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.aramex.net/ShippingAPI/v1/" elementFormDefault="qualified">
      <xsd:element name="RateCalculatorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type="tns:ClientInfo" name="ClientInfo" nillable="true" minOccurs="0"/>
            <xsd:element type="tns:Transaction" name="Transaction" nillable="true" minOccurs="0"/>
            <xsd:element type="tns:Address" name="OriginAddress" nillable="true" minOccurs="0"/>
            <xsd:element type="tns:Address" name="DestinationAddress" nillable="true" minOccurs="0"/>
            <xsd:element type="tns:ShipmentDetails" name="ShipmentDetails" nillable="true" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ClientInfo">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="UserName" nillable="true"/>
          <xsd:element type="xsd:string" name="Password" nillable="true"/>
          <xsd:element type="xsd:string" name="Version" nillable="true"/>
          <xsd:element type="xsd:string" name="AccountNumber" nillable="true"/>
          <xsd:element type="xsd:string" name="AccountPin" nillable="true"/>
          <xsd:element type="xsd:string" name="AccountEntity" nillable="true"/>
          <xsd:element type="xsd:string" name="AccountCountryCode" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:ClientInfo" name="ClientInfo" nillable="true"/>
      <xsd:complexType name="Transaction">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="Reference1" nillable="true"/>
          <xsd:element type="xsd:string" name="Reference2" nillable="true"/>
          <xsd:element type="xsd:string" name="Reference3" nillable="true"/>
          <xsd:element type="xsd:string" name="Reference4" nillable="true"/>
          <xsd:element type="xsd:string" name="Reference5" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Transaction" name="Transaction" nillable="true"/>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="Line1" nillable="true"/>
          <xsd:element type="xsd:string" name="Line2" nillable="true"/>
          <xsd:element type="xsd:string" name="Line3" nillable="true"/>
          <xsd:element type="xsd:string" name="City" nillable="true"/>
          <xsd:element type="xsd:string" name="StateOrProvinceCode" nillable="true" minOccurs="0"/>
          <xsd:element type="xsd:string" name="PostCode" nillable="true"/>
          <xsd:element type="xsd:string" name="CountryCode" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Address" name="Address" nillable="true"/>
      <xsd:complexType name="ShipmentDetails">
        <xsd:sequence>
          <xsd:element type="tns:Dimensions" name="Dimensions" nillable="true"/>
          <xsd:element type="tns:Weight" name="ActualWeight" nillable="true"/>
          <xsd:element type="tns:Weight" name="ChargeableWeight" nillable="true"/>
          <xsd:element type="xsd:string" name="DescriptionOfGoods" nillable="true"/>
          <xsd:element type="xsd:string" name="GoodsOriginCountry" nillable="true"/>
          <xsd:element type="xsd:int" name="NumberOfPieces"/>
          <xsd:element type="xsd:string" name="ProductGroup" nillable="true"/>
          <xsd:element type="xsd:string" name="ProductType" nillable="true"/>
          <xsd:element type="xsd:string" name="PaymentType" nillable="true"/>
          <xsd:element type="xsd:string" name="PaymentOptions" nillable="true"/>
          <xsd:element type="tns:Money" name="CustomsValueAmount" nillable="true" minOccurs="0"/>
          <xsd:element type="tns:Money" name="CashOnDeliveryAmount" nillable="true" minOccurs="0"/>
          <xsd:element type="tns:Money" name="InsuranceAmount" nillable="true" minOccurs="0"/>
          <xsd:element type="tns:Money" name="CashAdditionalAmount" nillable="true" minOccurs="0"/>
          <xsd:element type="tns:Money" name="CollectAmount" nillable="true" minOccurs="0"/>
          <xsd:element type="xsd:string" name="Services" nillable="true" minOccurs="0"/>
          <xsd:element type="tns:ArrayOfShipmentItem" name="Items" nillable="true" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:ShipmentDetails" name="ShipmentDetails" nillable="true"/>
      <xsd:complexType name="Dimensions">
        <xsd:sequence>
          <xsd:element type="xsd:int" name="Length"/>
          <xsd:element type="xsd:int" name="Width"/>
          <xsd:element type="xsd:int" name="Height"/>
          <xsd:element type="xsd:string" name="Unit" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Dimensions" name="Dimensions" nillable="true"/>
      <xsd:complexType name="Weight">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="Unit" nillable="true"/>
          <xsd:element type="xsd:double" name="Value"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Weight" name="Weight" nillable="true"/>
      <xsd:complexType name="Money">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="CurrencyCode" nillable="true"/>
          <xsd:element type="xsd:double" name="Value"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Money" name="Money" nillable="true"/>
      <xsd:complexType name="ArrayOfShipmentItem">
        <xsd:sequence>
          <xsd:element type="tns:ShipmentItem" name="ShipmentItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:ArrayOfShipmentItem" name="ArrayOfShipmentItem" nillable="true"/>
      <xsd:complexType name="ShipmentItem">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="PackageType" nillable="true"/>
          <xsd:element type="xsd:int" name="Quantity"/>
          <xsd:element type="tns:Weight" name="Weight" nillable="true"/>
          <xsd:element type="xsd:string" name="Comments" nillable="true" minOccurs="0"/>
          <xsd:element type="xsd:string" name="Reference" nillable="true" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:ShipmentItem" name="ShipmentItem" nillable="true"/>
      <xsd:element name="RateCalculatorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type="tns:Transaction" name="Transaction" nillable="true" minOccurs="0"/>
            <xsd:element type="tns:ArrayOfNotification" name="Notifications" nillable="true" minOccurs="0"/>
            <xsd:element type="xsd:boolean" name="HasErrors" minOccurs="0"/>
            <xsd:element type="tns:Money" name="TotalAmount" nillable="true" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfNotification">
        <xsd:sequence>
          <xsd:element type="tns:Notification" name="Notification" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:ArrayOfNotification" name="ArrayOfNotification" nillable="true"/>
      <xsd:complexType name="Notification">
        <xsd:sequence>
          <xsd:element type="xsd:string" name="Code" nillable="true"/>
          <xsd:element type="xsd:string" name="Message" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element type="tns:Notification" name="Notification" nillable="true"/>
    </xsd:schema>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified">
      <xs:element type="xs:anyType" name="anyType" nillable="true"/>
      <xs:element type="xs:anyURI" name="anyURI" nillable="true"/>
      <xs:element type="xs:base64Binary" name="base64Binary" nillable="true"/>
      <xs:element type="xs:boolean" name="boolean" nillable="true"/>
      <xs:element type="xs:byte" name="byte" nillable="true"/>
      <xs:element type="xs:dateTime" name="dateTime" nillable="true"/>
      <xs:element type="xs:decimal" name="decimal" nillable="true"/>
      <xs:element type="xs:double" name="double" nillable="true"/>
      <xs:element type="xs:float" name="float" nillable="true"/>
      <xs:element type="xs:int" name="int" nillable="true"/>
      <xs:element type="xs:long" name="long" nillable="true"/>
      <xs:element type="xs:QName" name="QName" nillable="true"/>
      <xs:element type="xs:short" name="short" nillable="true"/>
      <xs:element type="xs:string" name="string" nillable="true"/>
      <xs:element type="xs:unsignedByte" name="unsignedByte" nillable="true"/>
      <xs:element type="xs:unsignedInt" name="unsignedInt" nillable="true"/>
      <xs:element type="xs:unsignedLong" name="unsignedLong" nillable="true"/>
      <xs:element type="xs:unsignedShort" name="unsignedShort" nillable="true"/>
      <xs:element type="tns:char" name="char" nillable="true"/>
      <xs:simpleType name="char">
        <xs:restriction base="xs:int"/>
      </xs:simpleType>
      <xs:element type="tns:duration" name="duration" nillable="true"/>
      <xs:simpleType name="duration">
        <xs:restriction base="xs:duration">
          <xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
          <xs:minInclusive value="-P10675199DT2H48M5.4775808S"/>
          <xs:maxInclusive value="P10675199DT2H48M5.4775807S"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element type="tns:guid" name="guid" nillable="true"/>
      <xs:simpleType name="guid">
        <xs:restriction base="xs:string">
          <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:attribute type="xs:QName" name="FactoryType"/>
      <xs:attribute type="xs:ID" name="Id"/>
      <xs:attribute type="xs:IDREF" name="Ref"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RateCalculatorRequest">
    <wsdl:part name="parameters" element="tns:RateCalculatorRequest"/>
  </wsdl:message>
  <wsdl:message name="RateCalculatorResponse">
    <wsdl:part name="parameters" element="tns:RateCalculatorResponse"/>
  </wsdl:message>
  <wsdl:portType name="Service_1_0">
    <wsdl:operation name="CalculateRate">
      <wsdl:input name="RateCalculatorRequest" message="tns:RateCalculatorRequest" wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CalculateRate"/>
      <wsdl:output name="RateCalculatorResponse" message="tns:RateCalculatorResponse" wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CalculateRateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service_1_0">
    <wsdl:port name="BasicHttpBinding_Service_1_0" binding="tns:BasicHttpBinding_Service_1_0">
      <soap:address location="https://ws.dev.aramex.net/shippingapi/ratecalculator/service_1_0.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
